<!-- Header -->
<header>
    <div class="container">
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-item active"><a class="nav-link" href="" ui-sref="/"
                                               is-active-nav>Dashboard</a></li>
                <li class="nav-item active"><a class="nav-link" href="" ui-sref="articles.index"
                                               is-active-nav>Articles</a></li>
                <li class="nav-item"><a class="nav-link" href="" ui-sref="articles.add" is-active-nav>Add Article</a>
                <li class="nav-item"><a class="nav-link" href="" ui-sref="login.index" is-active-nav>login</a>
                <li class="nav-item"><a class="nav-link" href="" ui-sref="logout" is-active-nav>logout</a>
                </li>
            </ul>
        </nav>
    </div>


</header>