<section>
    <div class="container">
        <form ng-submit="submit()" name="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input ng-model="data.title" name="title" type="text" class="form-control" id="title"
                       placeholder="Enter Title" ng-maxlength="150" maxlength="150" required>
                <p class="error" ng-if="form.title.$error.required && !form.title.$pristine">This field is required</p>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <datepicker date-typer="true" date-format="yyyy-MM-dd hh:mm:ss" date-set="true">
                    <input ng-model="data.publishedAt" name="date" type="text" class="form-control"
                           ng-pattern="dateTimePattern"
                           id="date" required/>
                    <p class="error" ng-if="form.date.$error.required && !form.date.$pristine">This field is
                        required</p>
                    <p class="error" ng-if="form.date.$error.pattern && !form.date.$pristine">Enter valid date</p>
                </datepicker>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea ng-model="data.content" class="form-control" id="content" placeholder="Enter Content"
                          ng-maxlength="2000" maxlength="2000"
                          required></textarea>
                <p class="error" ng-if="form.content.$error.required && !form.content.$pristine">This field is
                    required</p>
            </div>
            <div class="form-group">
                <input accept="image/gif, image/jpeg, image/jpg, image/png" type="file" nv-file-select=""
                       uploader="uploader"
                       ng-if="uploader.queue.length == 0 && (data.image == null || data.image == '')"/>

                <p class="error" ng-if="isFileTypeError">Only images allowed</p>
                <p class="error" ng-if="isFileSizeError">Max File size 2MB</p>
                <div class="flex panel-group">
                    <div class="panel" ng-repeat="item in uploader.queue">
                        <div class="panel-header">
                            <i ng-click="item.remove();onRemoveFileBeforeUpload()" class="fa fa-trash-o"></i>
                            <span><strong>{{ item.file.name | limitTo:10}}</strong> - {{ item.file.size/1024/1024|number:2 }} MB</span>
                        </div>
                        <div class="panel-body align-center" ng-show="uploader.isHTML5"
                             ng-thumb="{ file: item._file, height: 100 }"></div>
                        <div class="panel-footer" ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel" ng-if="data.image != null && data.image != '' && uploader.queue.length == 0">
                        <div class="panel-header">
                            <i ng-click="onRemoveFileBeforeUpload()" class="fa fa-trash-o"></i>
                            <span><strong>{{data.image | limitTo:10}}</strong></span>
                        </div>
                        <div class="panel-body align-center">
                            <img ng-src="http://localhost/lung/uploads/{{data.image}}">
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"
                    ng-disabled="!form.$valid || isFileTypeError || isFileSizeError">Update
            </button>
        </form>
    </div>
</section>

