﻿﻿<section class="home">
    <div class="container">
        <form>
            <div class="flex">
                <div class="form-group flex8">
                    <input type="text" class="form-control" ng-model="articleVm.searchKeyword" ng-change="articleVm.setSearch(articleVm.searchKeyword)"
                           placeholder="Type keywords here..">
                </div>
                <div class="form-group flex2">
                    <select class="form-control" ng-model="articleVm.limit" ng-options="limit as limit for limit in articleVm.limitOptions"
                            ng-change="articleVm.setLimit(articleVm.limit)">
                        <option value="" selected>Per Page</option>
                    </select>
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th ng-click="articleVm.setSortBy('id')">
                    <a href="">#</a>
                    <i class="fa fa-arrow-down" ng-show="articleVm.sortBy === 'id'"
                       ng-class="{'fa-caret-down' : articleVm.sortReverse, 'fa-caret-up' : !articleVm.sortReverse}"></i>
                </th>
                <th ng-click="articleVm.setSortBy('title')">
                    <a href="" ng-class="{sortReverse: articleVm.sortReverse}">Title</a>
                    <i class="fa fa-arrow-down" ng-show="articleVm.sortBy === 'title'"
                       ng-class="{'fa-arrow-down' : articleVm.sortReverse, 'fa-arrow-up' : !articleVm.sortReverse}"></i>
                </th>

                <th ng-click="articleVm.setSortBy('publishedAt')">
                    <a href="" ng-class="{sortReverse: articleVm.sortReverse}">Published At</a>
                    <i class="fa fa-arrow-down" ng-show="articleVm.sortBy === 'publishedAt'"
                       ng-class="{'fa-arrow-down' : articleVm.sortReverse, 'fa-arrow-up' : !articleVm.sortReverse}"></i>
                </th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in articleVm.articles | orderBy:articleVm.sortBy:articleVm.sortReverse">
                <th scope="row">{{article.id}}</th>
                <td>{{article.title}}</td>
                <td>{{article.published_at}}</td>
                <td><a href="" title="Edit" ng-click="articleVm.goToEditArticles(article.id)"><i
                        class="fa fa-pencil-square-o fa-lg"></i></a>|<a href=""
                                                                        title="Delete"
                                                                        confirm-dialog="Are you sure you want to delete it?"
                                                                        ng-click="articleVm.deleteArticle(article.id)"><i
                        class="fa fa-trash-o fa-lg"></i></a>
                </td>
            </tr>
            <tr>
                <td ng-if="articleVm.articles.length==0">No Result</td>
            </tr>
            </tbody>
        </table>

        <ul ng-if="articleVm.pager.pages.length" class="pagination">
            <li class="page-item" ng-class="{disabled:articleVm.pager.currentPage === 1}">
                <a href="" class="page-link" ng-click="articleVm.setPage(1)" title="First"><i class="fa fa-angle-double-left"
                                                                                    aria-hidden="true"></i></a>
            </li>
            <li class="page-item" ng-class="{disabled:articleVm.pager.currentPage === 1}">
                <a href="" class="page-link" ng-click="articleVm.setPage(articleVm.pager.currentPage - 1)" title="Previous"><i
                        class="fa fa-angle-left" aria-hidden="true"></i></a>
            </li>
            <li class="page-item" ng-repeat="page in articleVm.pager.pages" ng-class="{active:articleVm.pager.currentPage === page}">
                <a href="" class="page-link" ng-click="articleVm.setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" ng-class="{disabled:articleVm.pager.currentPage === articleVm.pager.totalPages}">
                <a href="" class="page-link" ng-click="articleVm.setPage(articleVm.pager.currentPage + 1)" title="Next"><i
                        class="fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
            <li class="page-item" ng-class="{disabled:articleVm.pager.currentPage === articleVm.pager.totalPages}">
                <a href="" class="page-link" ng-click="articleVm.setPage(articleVm.pager.totalPages)" title="Last"><i
                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </li>
        </ul>


    </div>


</section>


